@import "../node_modules/bootstrap/scss/bootstrap";

.navbarr{
    height: 70px;
    background: linear-gradient(90deg, #0084CF -3.19%, #01B2AC 106.78%);
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding-right: 10px;
    
}

.logo {
    width: 380px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.iconLogo {
    width: 230px;
}

.buttonNavBar {
    background: transparent;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} 

.buttonNavBar:hover{
    background-color: #0171B8;
}

div.flex-dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #0084CF;
    color: #ccc;
}

main {
    display: block;
    height: 100%;
}
ul{
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #0084CF ;
    border-top: 1px solid #0171B8;
    border-bottom: 1px solid #0171B8;
}
.main-content{
    height: 100%;
    max-width: 100%;
}

ul:hover {
    background-color: #0171B8;
}
li {
    list-style-type: none;
  }

sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 300px;
}

.profile{
    height: 200px;
    background-color:#0084CF;
    display: flex; 
    align-items: center;
    
}

.imgProfile{
    display: flex;
    align-items: center;
}

.profileImg{
    height: 130px;
}

footer {
    height: 64px;
    background-color: #0084CF;
}
.brasaoHome {
    width: 413px;
    height: 160px;
    display: flex;
    align-items: center;
}
.iconFooter{
    height: 30px;
    margin: 5px;
}
.footerCopyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0171b8;
    color: white;
    height: 70px;
  }

