.content{
    background-image: url(../assets/fundo.svg);
    width: 100%;
    min-height: calc(100vh - 64px);  
}
.login {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 50px;
    width: 250px;
    margin-left: 50px;
    padding-top: 10px;
}
.contentBrasao {
    display: flex;
    justify-content: center
}

.brasao {
    width: 511px;
    height: 341px;
    padding: auto;
    ;
}

.submit {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 300px;
}

.inputs{
    height: 10px;
}

/* .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: #0171B8;
    color: white;
} */