<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <title>SEPLAG</title>
  </head>
  <header>
    <div class="navbar">
      <div class="logo">
        <img class="iconLogo" src="/assets/logo.svg" alt="Logo" />
      </div>
      <div class="buttonNavBar">
        <div>HOME</div>
      </div>

      <div class="buttonNavBar">
        <div>GALERIA</div>
      </div>

      <div class="buttonNavBar">
        <div>NOTÍCIAS</div>
      </div>
    </div>
  </header>
  <body>
    <div class="flex-dashboard">
      <sidebar>
        <div class="sidebar-title">
          <div class="profile">
            <img class="profileImg" src="/assets/esse.png" alt="" />

            <div class="nameandEdit">
              <div class="name">Servidor teste</div>
              <div class="celero">editar perfil</div>
            </div>
          </div>

          <div class="menu">
            <ul>
              <li>
                <a href="#">Central de Serviços - STI</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Central de Serviços - SEI</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Diario Oficial</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Dados AL</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Expresso Livre</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Facilita</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Integra</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Pericia Médica</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Portal servidor</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Qualidade</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Salas de reunião</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Portal de reunião</a>
              </li>
            </ul>
          </div>
        </div>
      </sidebar>
        <main class="main-content">
            
        </main>
    </div>
    <footer>teste zapp</footer>
  </body>
</html>
